* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 20vh 35vw;
}

form {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

label {
    display: block;
    width: 100%;
    background-color: rgb(125, 211, 166);
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 3rem;
    padding: 3vh 0;
}

input[type=text],
input[type=email],
input[type=submit] {
    width: 90%;
    font-size: 1.6rem;
    padding: 1vh 0 1vh 1vw;
    margin-top: 2vh;
}

textarea {
    width: 90%;
    font-size: 1.6rem;
    padding: 1vh 0 0 1vw;
    margin-top: 2vh;
    height: 10vh;
    font-family: Arial;
}

input[type=submit] {
    background-color: rgb(125, 211, 166);
    color: white;
    font-family: Arial;
    text-align: center;
    border: none;
    margin-bottom: 2vh;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
}

input[type=submit]:hover {
    background-color: rgb(73, 176, 123);
}